.about-me {
    height: 95vh;
    background-color: #fff;
}

.me {
    margin-left: 14px;
    color: #ff9800;
}

.line {
    border-top: 3px solid #1f2124;
    height: 2px;
    margin-top: -25px;
}

.pic {
    margin-top: 2.3rem;
}

.information {
    margin-right: 40px;
}