<div class="container-fluir about-me">
    <div class="row">
        <div class="col-12 d-flex justify-content-center title-about-me">
            <p>
                SOBRE
            </p>
            <p class="me">
                MI
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 line"></div>
        <div class="col-4"></div>
    </div>
    <div class="row">
        <div class="col text-top text-center">
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur voluptas, non, reprehenderit nulla atque nihil sint exercitationem minus quod voluptates totam in expedita, aperiam veritatis! Odio, natus libero. Fugiat, commodi?
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 d-flex justify-content-center pic">
            <app-profile-pic></app-profile-pic>
        </div>
        <div class="col-8">
            <div class="name-about-me">
                <app-name-about-me></app-name-about-me>
            </div>
            <div class="profession">
                <app-profession></app-profession>
            </div>
            <div class="information">
                <app-information></app-information>
            </div>
        </div>
    </div>
</div>