<div class="container-fluid fixed-top barra">
    <div class="row">
        <div class="col-6 d-flex justify-content-start align-self-center">
            <app-logo-icon></app-logo-icon>
        </div>
        <div class="col-6 d-flex justify-content-end align-self-center text-center">
            <div class="icons">
                <app-discord-icon class="rrss"></app-discord-icon>
            </div>
            <div class="icons">
                <app-linkedin-icon class="rrss"></app-linkedin-icon>
            </div>
            <div class="icons">
                <app-button class="rrss"></app-button>
            </div>
        </div>
    </div>
</div>