<div class="container-fluid contenedor">
    <div class="row">
        <div class="skill-name">
            <p>Cool</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 squared">
            <div class="skill">
                <div class="outer">
                    <div class="inner">
                        <div id="number">
                            90%
                        </div>
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="200px" height="200px">
                <defs>
                  <linearGradient id="GradientColor">
                    <stop offset="0%" stop-color="#FF9800" />
                    <stop offset="100%" stop-color="#FF69B4" />
                  </linearGradient>
                </defs>
                <circle cx="100" cy="100" r="87" stroke-linecap="round" />
              </svg>
        </div>
    </div>
    <div class="row">
        <div class="skill-text">
            <p>500 horas de practica</p>
        </div>
    </div>
</div>