<div class="container-fluid presentation">
    <div class=" row ">
        <div class="col-12 text-center typewriter">
            <h3>¡Hola! Yo soy</h3>
        </div>
    </div>
    <div class=" row ">
        <div class="col-12 text-center namet ypewriter">
            <h1 class="">SOFIA</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <h2>AVALOS</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <button>Descargar curriculum</button>
        </div>
    </div>
</div>