.presentation {
    background-image: url(../../../assets/banner.png);
    height: 100vh;
}

* {
    color: white;
}

h1 {
    font-size: 30vh;
    background: linear-gradient(-45deg, #ff9800, #ff69b4);
    mix-blend-mode: screen;
    background-clip: text;
    color: transparent;
    margin-top: -30px;
}

h2 {
    font-size: 20vh;
    margin-top: -40px;
}

h3 {
    font-size: 5vh;
    margin-top: 90px;
}

button {
    text-decoration: none;
    font-size: 3vh;
    background: linear-gradient(-45deg, #ff9800, #ff69b4);
    padding: 15px 30px;
    border-radius: 12% /45%;
    margin-top: 10px;
}