<div class="container-fluid skills">
    <div class="row">
        <div class="col title skills-title text-center mt-2">
            <p>HABILIDADES</p>
        </div>
    </div>
    <div class="row">
        <div class="col-4 d-flex justify-content-center mt-3 mb-3">
            <app-skill-item class="skill-item"></app-skill-item>
        </div>
        <div class="col-4 d-flex justify-content-center mt-3 mb-3">
            <app-skill-item class="skill-item"></app-skill-item>
        </div>
        <div class="col-4 d-flex justify-content-center mt-3 mb-3">
            <app-skill-item class="skill-item"></app-skill-item>
        </div>
        <div class="col-4 d-flex justify-content-center mt-3 mb-3">
            <app-skill-item class="skill-item"></app-skill-item>
        </div>
    </div>
</div>