@import 'font-ptsans.css';
@import 'font-sourcesanspro.css';
* {
    font-family: 'Source Sans Pro';
}

h3 {
    font-family: 'Source Sans Pro';
}

h1 {
    font-family: 'PT Sans';
    font-weight: 700;
}

.text-top {
    font-weight: 400;
}

.name-about-me {
    font-size: 3.5rem;
}

.profession {
    font-size: 2rem;
    font-weight: 300;
    margin-top: -30px;
    color: #ff9800
}

.title {
    font-size: 60px;
    margin-top: 15px;
    color: #1f2124;
    font-weight: 700;
}

.header {
    position: sticky;
    top: 0;
    z-index: 500;
}